<p>Hi <%= @user.name %>,</p>
<p>Welcome to the Sample App! To activate your account, click the link below:</p>
<p><%= link_to "Activate Account", edit_account_activation_url(@user.activation_token, email: @user.email) %></p>
