<% provide(:title, t("users.edit.title")) %>

<h1><%= t("users.edit.heading") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= render "users/form" %>
       <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank"><%= t("users.form.change_avatar") %></a>
      </div>
    </div>
  </div>
</div>
